# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Editor
.vscode/
.idea/

# Build/Cache
*.log

# Data input/output you don't want in repo
tromso_samiske_stedsnavn_input.xlsx
ssr_rapport.json